---
import Layout from "../layouts/Layout.astro";
import FileExplorer from "../components/FileExplorer";
import "@/styles/global.css";
---

<Layout title="Nexus Explorer">
	<main class="h-screen overflow-hidden">
		<FileExplorer client:load />
	</main>
</Layout>
